html
{
	background-image: url("images/field.png");
	background-repeat: repeat;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

*,
body,
html {
	padding: 0;
	margin: 0;
}

.leftBlock{
	background-image: url("images/стена.png");
	height: 100vh;
	position: absolute;
	
}
.rightBlock{
	
	height: 100vh;
	position: absolute;
	
}
.rightDiv{
	background-image: url("images/стена.png");
	height: 100vh;
	position: absolute;
	
}
.block{
	height: 100vh;
}

@media screen and (max-width: 600px) {
	.small {

		right: -30px !important;
	}
}

/*.wrapper
{
	width: 100%;
	height: 100%;

}*/
#Count
{
	color: white;
	color: white;
	position: absolute;
	font-size: 20px;
	top: 5px;
	left: 5px;
}
#Price
{
	color: white;
	position: absolute;
	font-size: 20px;
	top: 5px;;
	left: 175px;
}
.imageShop
{
	/*width: 100px;*/
	height: 100px;
	z-index: 1;
	display: block;
	right: 130px;
	position: absolute;
	top: 20px;
}
.imageAward
{
	/*width: 100px;*/
	height: 50px;
	z-index: 1;
	display: block;
	right: 130px;
	position: absolute;
	top: 20px;
}
.coinGif
{
	width: 200px;
    height: 200px;
	alt: 'Coin';
    z-index: 2;
    display: 'block';
	margin: "auto";
	margin-top: 100px;
}

.imageAward
{
	/*width: 100px;*/
	height: 50px;
	z-index: 1;
	display: block;
	right: 130px;
	position: absolute;
	top: 20px;
}

.priceList
{
	color: white;
	position: absolute;
	font-size: 30px;
	left: -110px;
	top: 50px;
}

.priceAwardList
{
	color: white;
	position: absolute;
	font-size: 30px;
	left: -110px;
	top: 25px;
	width: 200px;
}

.countList
{
	color: white;
	position: absolute;
	font-size: 30px;
	left: -280px;
	top: 50px;
}

span
{
	float: left; 
	width: 50%;
	height: 50px;
}

.mapItems
{
	z-index: 1;
	display: block;
	position: absolute;
	width: 80px;
	height: 80px;
}

::-webkit-scrollbar-button
{
	width: 6px;
	height: 0px;
}

::-webkit-scrollbar-track
{
	background-color: #389c51;
	box-shadow: 0 0 3px #000;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#d2f82b;
	box-shadow:0px 1px 1px #fff inset;
	background-image:url('https://yraaa.ru/_pu/24/59610063.png');
	background-position:center;
	background-repeat:no-repeat;
	}
	
	::-webkit-resizer{
	background-image:url('');
	background-repeat:no-repeat;
	width:10px;
	height:0px
	}
	
	::-webkit-scrollbar{
	width: 5px;
	}

	img{
	-webkit-user-drag: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	}